.statsDisplay {
    position: absolute;
    
    border-radius: 20px;
    backdrop-filter: blur(10px);
    
    /* Position to the left of the icon dock */
    bottom: 25px;
    right: 60px;
    
    text-align: right;
}

.statsContainer {
    padding: 10px 15px;
}

.statTitle {
    color: #000;
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.75px;
    text-transform: lowercase;
    
    margin: 0;
    margin-bottom: 2px;
    
    user-select: none;
}

.statValue {
    color: rgba(0, 0, 0, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
    
    margin: 0;
    margin-bottom: 12px;
    
    user-select: none;
}

.levelContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.progressBar {
    color: rgba(0, 0, 0, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
    
    margin: 0;
    margin-top: -2px;
    
    user-select: none;
    cursor: default;
}
