.buttonWrapper {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: inherit;
}

.buttonContainer {
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

.buttonImage {
    width: 30px;
    height: 30px;
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.buttonContainer:hover .buttonImage {
    transform: scale(1.2);
}

.buttonText {
    color: #000;
    text-align: right;
    font-family: Lexend;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;

    margin-top: -5px;
    margin-right: -10px;
    
    transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1), 
                opacity 0.2s ease;
}

.buttonContainer:hover .buttonText {
    transform: translate(3px, 3px);
    opacity: 0.8;
}
