.questMenu {
    position: absolute;

    border-radius: 20px;
    /* background: rgba(0, 0, 0, 0.05); */
    backdrop-filter: blur(10px);

    bottom: 25px;
    left: 25px;
}
  
.questMenuContainer {
    padding: 10px;

    padding-left: 25px;
    padding-right: 25px;

    margin-right: 15px;
}

h3 {
    color: #000;
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.75px;

    user-select: none;
}

p {
    margin-top: -5px;

    color: rgba(0, 0, 0, 0.50);
    font-family: Lexend;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;

    margin-bottom: 5px;

    user-select: none;
}

.xp {
    color: rgba(0, 0, 0, 0.50);
    font-weight: 400;
}