/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/button/button.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

.button_buttonContainer__gfKHU {
    cursor: pointer;
}

.button_buttonImage__jpidD {
    width: 30px;
    height: 30px;
}

.button_buttonText__StuNb {
    color: #000;
    text-align: right;
    font-family: Lexend;
    font-size: 8px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.7px;

    margin-top: -2.5px;
    margin-right: -10px;
} 
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/components/dock/dock.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.dock_dock__WSF3n {
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);

    border-radius: 20px;
    background: rgba(0, 0, 0, 0.05);
    -webkit-backdrop-filter: blur(12.5px);
            backdrop-filter: blur(12.5px);
}
  
.dock_dockContainer__Khnx6 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;

    padding: 12.5px;

    padding-left: 20px;
    padding-right: 20px;

    margin-right: 15px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/pages/pasture.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.pasture_pasture__yBkey {
    background-color: white;
    width: 100vw;
    height: 100vh;
}
