/**
 * Particle styles
 */

.particleContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
    overflow: hidden;
}

.particle {
    position: absolute;
    user-select: none;
    will-change: transform, opacity;
    margin: 0;
    /* Center the text on its position */
    transform-origin: center center;
    margin-left: -0.5em;
    margin-top: -0.5em;
    
    /* Match button text styling */
    font-family: Lexend, sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.7px;
}
