@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Hide default cursor globally */
* {
  cursor: none !important;
}

.canvas {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  
  overflow: hidden;
}